@import "variables";
//@import "global";


.tm-suits-main {
  li {
    background-color: #070055;

    &.uk-active {
      background-color: #fff;
    }
  }

  .uk-subnav {
    margin-left: 0;
  }
}

.tm-instargam {
  padding: 20px 0;
}