@import "variables";
//@import "global";

.tm-border-test {
  border: 1px solid #000000;
}

.tm-suits-main {
  li {
    background-color: #070055;

    &.uk-active {
      background-color: #fff;
    }
  }

  .uk-subnav {
    margin-left: 0;
  }
}

.tm-instargam {
  padding: 20px 0;

  .tm-box-shadow-grey {
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    padding: 0;
  }
}

.tm-map {
  background: url(http://via.placeholder.com/800x600) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;

  min-height: 300px;
  .uk-container {
    min-height: 300px;
  }
}